.SecondSection {
    background-image: linear-gradient(180deg, #3F51B5, #283593);
    width: 100%;
    min-height: 40vw;
    height: fit-content;
    box-sizing: border-box;
    margin: 0;
    padding: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2.5vw;
}

.SecondSectionTechs {
    display: flex;
    width: 35vw;
    height: fit-content;
    min-height: 35vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 10vw;
}

.SecondSectionMainTechs {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 35vw;
    height: fit-content;
}
.SecondSectionMainTechsTitle {
    font-size: 4vw;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: #B8860B;
    margin-left: 2vw;
    margin-right: 2vw;
    text-align: center;
    text-shadow:
        -0.125vw -0.125vw 0 #000000,
        0.125vw -0.125vw 0 #000000,
        -0.125vw 0.125vw 0 #000000,
        0.125vw 0.125vw 0 #000000;
    width: 100%;
    margin-bottom: 0vw;
}
.SecondSectionMainTechsIcon {
    margin-top: -2.5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.SecondSectionOtherTechs {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 35vw;
    height: fit-content;
}
.SecondSectionOtherTechsTitle {
    font-size: 4vw;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: #B8860B;
    margin-left: 2vw;
    margin-right: 2vw;
    text-align: center;
    text-shadow:
        -0.125vw -0.125vw 0 #000000,
        0.125vw -0.125vw 0 #000000,
        -0.125vw 0.125vw 0 #000000,
        0.125vw 0.125vw 0 #000000;
    width: 100%;
    margin-bottom: 0vw;
}
.SecondSectionOtherTechsIcon {
    margin-top: -2.5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.SecondSectionDesc {
    margin-top: 5vw;
    display: flex;
    width: 25vw;
    height: fit-content;
    min-height: 35vw;
    align-items: center;
    flex-direction: column;
    background-color: #B8860B  ;
    align-content: center;
    margin-right: 10vw;
    border-radius: 5vw;
    border: 0.25vw solid #000000
}

.SecondSectionDescTitle {
    margin-top: 3vw;
    font-size: 3vw;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: #000000;
    margin-left: 2vw;
    margin-right: 2vw;
    text-align: center;
}

.SecondSectionDescDesc {
    margin-top: 0.5vw;
    font-size: 1.5vw;
    font-family: 'Inter', sans-serif;
    color: #000000;
    margin-left: 2vw;
    margin-right: 2vw;
    text-align: center;
}

.TechsIcon {
    width: calc(35vw / 5 - 2vw);
    height: calc(35vw / 5 - 2vw);
    margin: 1vw;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.TechsIcon:hover {
    transform: scale(1.2);
}

@media (max-width: 700px) {
    .SecondSection {
        flex-direction: column;
        padding-bottom: 10vw;
    }
    .SecondSectionTechs {
        margin-left: 0;
        width: 80vw;
    }
    .SecondSectionMainTechs {
        width: 80vw;
    }
    .SecondSectionMainTechsTitle {
        font-size: 10vw;
        color: #FFC800;
    }
    .SecondSectionOtherTechs {
        width: 80vw;
        margin-top: -7.5vw;
    }
    .SecondSectionOtherTechsTitle {
        font-size: 10vw;
        color: #FFC800 ;
    }
    .SecondSectionDesc {
        margin-right: 0;
        width: 80vw;
        height: 45vw;
        background-color: #EEC900;
    }
    .SecondSectionDescTitle {
        font-size: 6.5vw;
    }
    .SecondSectionDescDesc {
        font-size: 3vw;
        margin-right: 5vw;
        margin-left: 5vw;
        margin-top: -5vw;
    }
    .TechsIcon {
        width: calc(80vw / 5 - 5vw);
        height: calc(80vw /5 - 5vw);
        margin: 2.5vw;
    }
}
