.Header {
    background-color: #481B6B;
    width: 100%;
    height: 5vw;
    margin: 0;
    padding: 1vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: 1000;
}

.HeaderMe {
    align-items: center;
    display: flex;
    align-content: center;
}

.HeaderText {
    font-size: 2vw;
    margin-left: 1vw;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.HeaderImage {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 1vw;
}

.Header nav ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 5vw; 
    align-content: flex-end;
    margin-right: 5vw;
}

.Section {
    font-size: 1.5vw;
    color: #FFFFFF;
    font-style: normal;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    display: inline-block; 
    transform-origin: center; 
    transition: transform 0.15s ease-in-out;
}

.Section:hover {
    transform: scale(1.2); 
}

@media (max-width: 700px) {
    .Header {
        height: 10vw;
    }
    .HeaderText {
        margin-left: 2.5vw;
        font-size: 4vw;
    }
    .HeaderImage {
        width: 7.5vw;
        height: 7.5vw;
    }
    .Section {
        font-size: 3vw;
        text-align: center;
        align-content: center;
    }
}