.ThirdSection {
    background-image: linear-gradient( 180deg, #481B6B, #B15EF0);
    width: 100vw;
    min-height: 70vh;
    height: fit-content;
    box-sizing: border-box;
    margin: 0;
    padding: 1vh;
}