.emptyOne {
  width: 100vw;
  height: 20vh;
  background-image: linear-gradient(180deg, #B15EF0, #7580F4);
  box-sizing: border-box;
}
.emptyTwo {
  width: 100vw;
  height: 20vh;
  background-image: linear-gradient(180deg, #2B26B4, #481B6B);
  box-sizing: border-box;
}
.emptyThree {
  width: 100vw;
  height: 10vh;
  background-color: #292929;
  box-sizing: border-box;
}